<div class='teamwrap'>
  <h1>Teams</h1>
  <ul>
    <% @teams.each do |t| %>
      <li><%= image_tag t.logo %> <%= link_to t.name, team_path(t) %></li>
    <% end %>
      <br><li><%= link_to 'Add a new team', new_team_path %></li>
  </ul>
</div>
